Solutions/Tanium/Package/mainTemplate.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "author": "Ian Hands - ian.hands@tanium.com",
    "comments": "Solution template for Tanium"
  },
  "parameters": {
    "location": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Not used, but needed to pass arm-ttk test `Location-Should-Not-Be-Hardcoded`.  We instead use the `workspace-location` which is derived from the LA workspace"
      }
    },
    "workspace-location": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "[concat('Region to deploy solution resources -- separate from location selection',parameters('location'))]"
      }
    },
    "workspace": {
      "defaultValue": "",
      "type": "string",
      "metadata": {
        "description": "Workspace name for Log Analytics where Sentinel is setup"
      }
    },
    "formattedTimeNow": {
      "type": "string",
      "defaultValue": "[utcNow('g')]",
      "metadata": {
        "description": "Appended to workbook displayNames to make them unique"
      }
    },
    "workbook1-id": {
      "type": "string",
      "defaultValue": "[newGuid()]",
      "minLength": 1,
      "metadata": {
        "description": "Unique id for the workbook"
      }
    },
    "workbook1-name": {
      "type": "string",
      "defaultValue": "Tanium",
      "minLength": 1,
      "metadata": {
        "description": "Name for the workbook"
      }
    },
    "playbook1-PlaybookName": {
      "defaultValue": "CollectComplyFindingsIMPORT",
      "type": "string",
      "minLength": 1,
      "metadata": {
        "description": "Resource name for the logic app playbook.  No spaces are allowed"
      }
    },
    "playbook2-workflows_TaniumQuarantineHosts_name": {
      "defaultValue": "TaniumQuarantineHosts",
      "type": "string",
      "minLength": 1
    },
    "playbook2-connections_azuresentinel_externalid": {
      "defaultValue": "/subscriptions/8cacf840-893d-4966-8f82-768f12f19076/resourceGroups/RG_1/providers/Microsoft.Web/connections/azuresentinel",
      "type": "string",
      "minLength": 1
    }
  },
  "variables": {
    "TaniumDemoWorkbook_workbook": "TaniumDemoWorkbook_workbook",
    "_TaniumDemoWorkbook_workbook": "[variables('TaniumDemoWorkbook_workbook')]",
    "workbook-source": "[concat(resourceGroup().id, '/providers/Microsoft.OperationalInsights/workspaces/',parameters('workspace'))]",
    "_workbook-source": "[variables('workbook-source')]",
    "playbook1-Tanium-CollectComplyFindings": "playbook1-Tanium-CollectComplyFindings",
    "_playbook1-Tanium-CollectComplyFindings": "[variables('playbook1-Tanium-CollectComplyFindings')]",
    "playbook1-AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('playbook1-PlaybookName'))]",
    "playbook2-Tanium-QuarantineHosts": "playbook2-Tanium-QuarantineHosts",
    "_playbook2-Tanium-QuarantineHosts": "[variables('playbook2-Tanium-QuarantineHosts')]",
    "playbook2-AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('playbook2-PlaybookName'))]",
    "sourceId": "taniuminc1646329360287.azure-sentinel-solution-tanium",
    "_sourceId": "[variables('sourceId')]"
  },
  "resources": [
    {
      "type": "Microsoft.Insights/workbooks",
      "name": "[parameters('workbook1-id')]",
      "location": "[parameters('workspace-location')]",
      "kind": "shared",
      "apiVersion": "2021-08-01",
      "properties": {
        "displayName": "[concat(parameters('workbook1-name'), ' - ', parameters('formattedTimeNow'))]",
        "serializedData": "{\"version\":\"Notebook/1.0\",\"items\":[{\"type\":11,\"content\":{\"version\":\"LinkItem/1.0\",\"style\":\"tabs\",\"links\":[{\"id\":\"786ffe19-a17d-4ca9-9355-f97406ae048f\",\"cellValue\":\"selectedTab\",\"linkTarget\":\"parameter\",\"linkLabel\":\"Comply\",\"subTarget\":\"Comply\",\"preText\":\"Comply\",\"style\":\"link\"},{\"id\":\"caed0c0c-5247-40f7-ac0d-745d858539ce\",\"cellValue\":\"selectedTab\",\"linkTarget\":\"parameter\",\"linkLabel\":\"Patch\",\"subTarget\":\"Patch\",\"style\":\"link\"},{\"id\":\"efd238ee-2305-4384-a38c-a96d850ab4c9\",\"cellValue\":\"selectedTab\",\"linkTarget\":\"parameter\",\"linkLabel\":\"Discover\",\"subTarget\":\"Discover\",\"style\":\"link\"}]},\"name\":\"links - 8\"},{\"type\":12,\"content\":{\"version\":\"NotebookGroup/1.0\",\"groupType\":\"editable\",\"items\":[{\"type\":1,\"content\":{\"json\":\"## Top mission critical computers with CVSS hits >= 9.0\"},\"name\":\"text - 2\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"TaniumComplyVulnerabilities_CL \\n| join TaniumMainAsset_CL on Computer_Name_s| where CVSS_Score_s startswith \\\"9\\\"\\n| extend Host_0_HostName = Computer_Name_s\\n| extend Malware_0_Name = CVE_s\\n| extend IP_0_Address = IP_Address_s\\n| summarize count() by Computer_Name_s | limit 4\\n| sort by count_\\n\",\"size\":4,\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"tiles\",\"tileSettings\":{\"showBorder\":false,\"titleContent\":{\"columnMatch\":\"Computer_Name_s\",\"formatter\":1},\"leftContent\":{\"columnMatch\":\"count_\",\"formatter\":12,\"formatOptions\":{\"palette\":\"auto\"},\"numberFormat\":{\"unit\":17,\"options\":{\"maximumSignificantDigits\":3,\"maximumFractionDigits\":2}}}},\"graphSettings\":{\"type\":0,\"topContent\":{\"columnMatch\":\"Computer_Name_s\",\"formatter\":1},\"centerContent\":{\"columnMatch\":\"count_\",\"formatter\":1,\"numberFormat\":{\"unit\":17,\"options\":{\"maximumSignificantDigits\":3,\"maximumFractionDigits\":2}}}},\"mapSettings\":{\"locInfo\":\"LatLong\",\"sizeSettings\":\"count_\",\"sizeAggregation\":\"Sum\",\"legendMetric\":\"count_\",\"legendAggregation\":\"Sum\",\"itemColorSettings\":{\"type\":\"heatmap\",\"colorAggregation\":\"Sum\",\"nodeColorField\":\"count_\",\"heatmapPalette\":\"greenRed\"}}},\"name\":\"query - 2\"},{\"type\":1,\"content\":{\"json\":\"## Top operating systems with CVSS hits >= 9.0\"},\"name\":\"text - 4\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"TaniumComplyVulnerabilities_CL \\n| join TaniumMainAsset_CL on Computer_Name_s| where CVSS_Score_s startswith \\\"9\\\"\\n| extend Host_0_HostName = Computer_Name_s\\n| extend Malware_0_Name = CVE_s\\n| extend IP_0_Address = IP_Address_s\\n| summarize count() by Operating_System_Generation_s\\n| sort by count_\",\"size\":4,\"timeContext\":{\"durationMs\":2592000000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"piechart\",\"tileSettings\":{\"titleContent\":{\"columnMatch\":\"Operating_System_Generation_s\",\"formatter\":1},\"leftContent\":{\"columnMatch\":\"count_\",\"formatter\":12,\"formatOptions\":{\"palette\":\"auto\"},\"numberFormat\":{\"unit\":17,\"options\":{\"maximumSignificantDigits\":3,\"maximumFractionDigits\":2}}},\"showBorder\":false}},\"name\":\"query - 3\"},{\"type\":1,\"content\":{\"json\":\"## Vulnerability distribution by year\"},\"name\":\"text - 2\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"TaniumComplyVulnerabilities_CL\\n|distinct CVE_Year_s,Computer_Name_s, CVE_s\\n|summarize count() by CVE_Year_s\\n|render barchart  \\n|sort by CVE_Year_s asc\",\"size\":0,\"timeContext\":{\"durationMs\":2592000000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"},\"name\":\"query - 3\"},{\"type\":1,\"content\":{\"json\":\"## Vulnerability Distribution by OS\"},\"name\":\"text - 5\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"TaniumComplyVulnerabilities_CL\\n|distinct CVE_s, Computer_Name_s, Operating_System_Generation_s\\n|summarize count() by Operating_System_Generation_s\\n|render barchart\",\"size\":0,\"timeContext\":{\"durationMs\":2592000000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"},\"name\":\"query - 4\"},{\"type\":1,\"content\":{\"json\":\"## Vulnerability Distribution by Severity\"},\"name\":\"text - 6\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"TaniumComplyVulnerabilities_CL\\n|distinct CVE_s,Severity_s\\n|summarize count() by Severity_s\",\"size\":0,\"timeContext\":{\"durationMs\":2592000000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"graph\",\"tileSettings\":{\"showBorder\":false,\"titleContent\":{\"columnMatch\":\"Severity_s\",\"formatter\":1},\"leftContent\":{\"columnMatch\":\"count_\",\"formatter\":12,\"formatOptions\":{\"palette\":\"auto\"},\"numberFormat\":{\"unit\":17,\"options\":{\"maximumSignificantDigits\":3,\"maximumFractionDigits\":2}}}},\"graphSettings\":{\"type\":2,\"topContent\":{\"columnMatch\":\"Severity_s\",\"formatter\":1},\"centerContent\":{\"columnMatch\":\"count_\",\"formatter\":1,\"numberFormat\":{\"unit\":17,\"options\":{\"maximumSignificantDigits\":3,\"maximumFractionDigits\":2}}},\"nodeIdField\":\"Severity_s\",\"graphOrientation\":3,\"showOrientationToggles\":false,\"staticNodeSize\":100,\"hivesMargin\":5},\"textSettings\":{\"style\":\"bignumber\"}},\"name\":\"query - 7\"},{\"type\":1,\"content\":{\"json\":\"## Compliance Benchmark - Pass Rate\"},\"name\":\"text - 10\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"TaniumComplyCompliance_CL | where  Rule_ID_s <> \\\"\\\"\\n|summarize  Total=count(), Pass=countif(Status_Category_s has \\\"Pass\\\"), Fail=countif(Status_Category_s has \\\"Fail\\\")\\n|extend PassRate=(Pass*1.0/Total)*100\\n|project PassRate\",\"size\":1,\"timeContext\":{\"durationMs\":604800000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"tiles\",\"tileSettings\":{\"titleContent\":{\"columnMatch\":\"PassRate\",\"formatter\":12,\"formatOptions\":{\"palette\":\"redBright\"}},\"showBorder\":false}},\"name\":\"query - 11\"},{\"type\":1,\"content\":{\"json\":\"## Top 10 Benchmark Failures\"},\"name\":\"text - 12\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"TaniumComplyCompliance_CL \\n|where  Rule_ID_s <> \\\"\\\" and Status_Category_s has \\\"fail\\\"\\n|summarize Count=count() by RuleID=Rule_ID_s\\n|top 10 by Count\",\"size\":0,\"timeContext\":{\"durationMs\":2592000000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"},\"name\":\"query - 13\"}]},\"conditionalVisibility\":{\"parameterName\":\"selectedTab\",\"comparison\":\"isEqualTo\",\"value\":\"Comply\"},\"customWidth\":\"100\",\"name\":\"cvss_group\",\"styleSettings\":{\"maxWidth\":\"100\"}},{\"type\":12,\"content\":{\"version\":\"NotebookGroup/1.0\",\"groupType\":\"editable\",\"items\":[{\"type\":1,\"content\":{\"json\":\"## Top mission critical computers with _critical_ patches ready to apply\\n\"},\"name\":\"text - 3\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"TaniumSentinelApplicablePatches_CL\\n| join TaniumSentinelMainAsset_CL on Computer_ID_s\\n| join TaniumReporting_CL on Computer_Name_s\\n| where Hygiene_Applicable_Patches_by_Year_1_1_0_0_0_0__s contains '\\\"Severity\\\": \\\"Critical\\\"'\\n| where Asset_Criticality_s == \\\"Critical\\\"\\n| summarize count() by Computer_Name_s\\n| sort by count_ | limit 4\\n\",\"size\":4,\"timeContext\":{\"durationMs\":2592000000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"tiles\",\"tileSettings\":{\"showBorder\":false,\"titleContent\":{\"columnMatch\":\"Computer_Name_s\",\"formatter\":1},\"leftContent\":{\"columnMatch\":\"count_\",\"formatter\":12,\"formatOptions\":{\"palette\":\"auto\"},\"numberFormat\":{\"unit\":17,\"options\":{\"maximumSignificantDigits\":3,\"maximumFractionDigits\":2}}}}},\"name\":\"query - 3\"},{\"type\":1,\"content\":{\"json\":\"## Top operating systems with _critical_ patches ready to apply\"},\"name\":\"text - 1\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"TaniumSentinelApplicablePatches_CL\\n| join TaniumSentinelOperatingSystem_CL on Computer_ID_s\\n| where Hygiene_Applicable_Patches_by_Year_1_1_0_0_0_0__s contains '\\\"Severity\\\": \\\"Critical\\\"'\\n| summarize count() by Operating_System_Generation_s\\n| sort by count_\\n\",\"size\":4,\"timeContext\":{\"durationMs\":604800000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"piechart\"},\"name\":\"query - 0\"},{\"type\":1,\"content\":{\"json\":\"## High Uptimes (Top 10)\"},\"name\":\"text - 4\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"TaniumSentinelHighUptime_CL \\n|distinct Computer_Name_s,High_Uptime_s \\n|extend Uptime=extract(\\\"[0-9]?[0-9]\\\",0, High_Uptime_s, typeof(int)) \\n|where High_Uptime_s !contains \\\"N/A\\\" and High_Uptime_s !contains \\\"less than\\\" and Uptime > 30 \\n|top 10 by Uptime \\n|render barchart\",\"size\":0,\"timeContext\":{\"durationMs\":604800000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"},\"name\":\"query - 5\"}]},\"conditionalVisibility\":{\"parameterName\":\"selectedTab\",\"comparison\":\"isEqualTo\",\"value\":\"Patch\"},\"customWidth\":\"50\",\"name\":\"patch_group\",\"styleSettings\":{\"maxWidth\":\"50%\"}},{\"type\":12,\"content\":{\"version\":\"NotebookGroup/1.0\",\"groupType\":\"editable\",\"items\":[{\"type\":1,\"content\":{\"json\":\"## Unmanaged OS Platform\\n\"},\"name\":\"text - 0\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"TaniumDiscoverUnmanagedAssets_CL\\n|where Os_s <> \\\"\\\" \\n|distinct MacAddress_s,Os_s\\n|summarize count() by Os_s\\n\",\"size\":0,\"timeContext\":{\"durationMs\":2592000000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"piechart\"},\"name\":\"query - 1\"},{\"type\":1,\"content\":{\"json\":\"## Unmanaged Device Type\"},\"name\":\"text - 2\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"TaniumDiscoverUnmanagedAssets_CL\\n|where MacOrganization_s <> \\\"\\\" \\n|distinct MacAddress_s,MacOrganization_s\\n|summarize count() by MacOrganization_s\",\"size\":0,\"timeContext\":{\"durationMs\":2592000000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"piechart\"},\"name\":\"query - 3\"},{\"type\":1,\"content\":{\"json\":\"## Unmanaged Open Ports\"},\"name\":\"text - 4\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"TaniumDiscoverUnmanagedAssets_CL\\n|where Ports_s <> \\\"\\\" \\n|distinct MacAddress_s,Ports_s\\n|summarize count() by Ports_s\\n\\n\",\"size\":0,\"timeContext\":{\"durationMs\":2592000000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"piechart\"},\"name\":\"query - 5\"}]},\"conditionalVisibility\":{\"parameterName\":\"selectedTab\",\"comparison\":\"isEqualTo\",\"value\":\"Discover\"},\"name\":\"discover_group\"}],\"fallbackResourceIds\":[\"/subscriptions/8cacf840-893d-4966-8f82-768f12f19076/resourcegroups/rg_1/providers/microsoft.operationalinsights/workspaces/log-sentinel-test\"],\"fromTemplateId\":\"sentinel-UserWorkbook\",\"$schema\":\"https://github.com/Microsoft/Application-Insights-Workbooks/blob/master/schema/workbook.json\"}\n",
        "version": "1.0",
        "sourceId": "[variables('_workbook-source')]",
        "category": "sentinel"
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[variables('playbook1-AzureSentinelConnectionName')]",
      "location": "[parameters('workspace-location')]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.@{variables('azureManagementUrl')}/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Add_comment_to_incident_(V3)": {
              "runAfter": {
                "HTTP": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p>@{body('HTTP')}</p>"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/Incidents/Comment"
              }
            },
            "Entities_-_Get_Hosts": {
              "type": "ApiConnection",
              "inputs": {
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/host"
              }
            },
            "HTTP": {
              "runAfter": {
                "Entities_-_Get_Hosts": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "body": "@triggerBody()",
                "headers": {
                  "Authorization": "__CHANGE_ME__"
                },
                "method": "POST",
                "uri": "https://sentinelforwarder.centralus.cloudapp.azure.com/playbook?type=add_comply_findings&trigger=manual_click"
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "/subscriptions/8cacf840-893d-4966-8f82-768f12f19076/resourceGroups/RG_1/providers/Microsoft.Web/connections/azuresentinel",
                "connectionName": "azuresentinel",
                "id": "/subscriptions/8cacf840-893d-4966-8f82-768f12f19076/providers/Microsoft.Web/locations/westus/managedApis/azuresentinel"
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[variables('playbook2-AzureSentinelConnectionName')]",
      "location": "[parameters('workspace-location')]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.@{variables('azureManagementUrl')}/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Add_comment_to_incident_(V3)": {
              "runAfter": {
                "HTTP": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p>@{body('HTTP')}</p>"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/Incidents/Comment"
              }
            },
            "Entities_-_Get_Hosts": {
              "type": "ApiConnection",
              "inputs": {
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/host"
              }
            },
            "HTTP": {
              "runAfter": {
                "Entities_-_Get_Hosts": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "body": "@triggerBody()",
                "headers": {
                  "Authorization": "__CHANGE_ME__"
                },
                "method": "POST",
                "uri": "https://sentinelforwarder.centralus.cloudapp.azure.com/playbook?type=quarantine&trigger=manual_click"
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[parameters('playbook2-connections_azuresentinel_externalid')]",
                "connectionName": "azuresentinel",
                "id": "/subscriptions/8cacf840-893d-4966-8f82-768f12f19076/providers/Microsoft.Web/locations/westus/managedApis/azuresentinel"
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces/providers/metadata",
      "apiVersion": "2021-03-01-preview",
      "properties": {
        "version": "1.0.0",
        "kind": "Solution",
        "contentId": "[variables('_sourceId')]",
        "parentId": "[variables('_sourceId')]",
        "source": {
          "kind": "Solution",
          "name": "Tanium",
          "sourceId": "[variables('_sourceId')]"
        },
        "author": {
          "name": "Ian Hands",
          "email": "ian.hands@tanium.com"
        },
        "support": {
          "name": "Tanium Inc.",
          "email": "support@tanium.com",
          "tier": "Tanium",
          "link": "https://support.tanium.com"
        },
        "dependencies": {
          "operator": "AND",
          "criteria": [
            {
              "kind": "Workbook",
              "contentId": "[variables('_TaniumDemoWorkbook_workbook')]",
              "version": "1.0.0"
            },
            {
              "kind": "Playbook",
              "contentId": "[variables('_playbook1-Tanium-CollectComplyFindings')]",
              "version": "1.0.0"
            },
            {
              "kind": "Playbook",
              "contentId": "[variables('_playbook2-Tanium-QuarantineHosts')]",
              "version": "1.0.0"
            }
          ]
        },
        "firstPublishDate": "2022-05-16",
        "lastPublishDate": "2022-05-16",
        "providers": [
          "Tanium"
        ],
        "categories": {
          "domains": [
            "Security - Network",
            "Security - Threat Protection"
          ]
        }
      },
      "name": "[concat(parameters('workspace'),'/Microsoft.SecurityInsights/', variables('_sourceId'))]"
    }
  ],
  "outputs": {}
}
